<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Debug</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://verifysalesportal.azurewebsites.net/portallogin2.aspx?did=seerys</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>verifysalesportal.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>VerifySalesPortal</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$VerifySalesPortal</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DatabaseConnectionString" Order="1" Enabled="False">
          <Destination Path="Data Source=verifytest.cloudapp.net;Initial Catalog=XXXX;Integrated Security=False;User ID=verifysql;Password=SQLretest20!5;Encrypt=True;TrustServerCertificate=True" Name="Data Source=verifytest.cloudapp.net;Initial Catalog=XXXX;User ID=verifysql;Password=SQLretest20!5;Encrypt=true;Trusted_Connection=false;TrustServerCertificate=true" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|\Database.mdf;Integrated Security=True;User Instance=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\DatabaseConnectionString_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|\Database.mdf;Integrated Security=True;User Instance=True" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DatabaseConnectionString-Web.config Connection String">
      <ParameterValue>Data Source=verifytest.cloudapp.net;Initial Catalog=XXXX;User ID=verifysql;Password=SQLretest20!5;Encrypt=true;Trusted_Connection=false;TrustServerCertificate=true</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>