a 
{ 
        font-family:arial,helvetica,sans-serif; 
        font-size:13px; 
        color:#0066cc; 
        text-decoration:none; 
} 
a:visited 
{ 
        color: #666666; 
} 
a:hover 
{ 
        text-decoration:underline; 
} 
a.biglink 
{ 
        font-family:arial,helvetica,sans-serif; 
        font-size: 13px; 
        font-weight:bold; 
        color:#0066cc; 
        text-decoration:none; 
} 
a:visited 
{ 
        color: #666666; 
} 
a:hover 
{ 
        text-decoration:underline; 
} 

.style1
{
	font-family: arial, helvetica, sans-serif, 'Times New Roman' , Wingdings;
	font-size: 13px;
	color: #ff9999;
	text-decoration: none;
	background-color: #ccff66;
	font-style: italic;
	font:'Times New Roman';
} 

.modalBackground
{
	background-color: gray;
	filter:alpha(opacity=70);
	opacity:0.7;

}

.PopBoxImageSmall
{
   border: none 0px white;
}
.PopBoxImageLarge
{
   border: solid thin #CCCCFF;
} 

