/*Some Basic Styles*/

body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;    
}

h1,h2,h3,h4,h5,h6 {
    margin: 0px;
    padding: 0px;
    margin-bottom: 10px;
    font-weight: bold;
}

p {
    margin: 0px;
    padding-bottom: 5px;
}

h1 {
    font-size: 20px;
}

h2 {
    font-size: 18px;
}
h3 {
    font-size: 16px;
}
h4 {
    font-size: 14px;
}
a,a:hover {
    text-decoration: none;
}




/*Style for Header*/
header {
      
  }

header .navbar {
    min-height: 25px;
    border: none;
}

header .navbar-default {
    background: #ffffff;
}

header .navbar .container {
    padding-top: 5px;
    height: auto;
    background: #007500; /* Old browsers */
    background: -moz-linear-gradient(left,  #ffffff 0%, #ffffff 5%, #007500 7%, #007500 77%, #ffffff 80%, #ffffff 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left,  #ffffff 0%, #ffffff 5%,#007500 7%,#007500 77%, #ffffff 80%, #ffffff 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right,  #ffffff 0%, #ffffff 5%,#007500 7%,#007500 77%, #ffffff 80%, #ffffff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 */
}

header .navbar .navbar-brand {
    padding-top: 7px;
    padding-bottom: 2px;
    font-size: 12px;
    max-height: 40px;
}

header .navbar .navbar-brand .bars {
    
}
header .navbar .navbar-brand .menu-btn{
    display: block;
    width: auto;
    height: 30px;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    margin-bottom: 4px;
}

header .navbar:hover .navbar-nav a, header .navbar:hover .navbar-nav input[type="button"], 
header .navbar:hover .navbar-nav input[type="submit"] {
    color: #ffffff;
    animation-name: header-link-fade-in;
    animation-duration: 0.5s;
    cursor: pointer;
}

header .navbar .navbar-nav a,  header .navbar .navbar-nav input[type="button"], 
header .navbar .navbar-nav input[type="submit"] {
    color: #ffffff;
    animation-name: header-link-fade-out;
    animation-duration: 0.5s;
}

header .navbar .navbar-nav a {
    color: #009100;
}

header .navbar .navbar-nav > li > a {
    padding: 10px 15px;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    -moz-boder-radius-topleft: 2px;
    -moz-border-radius-topright: 2px;
    font-size: 12px;
    height: 40px;
}

header .navbar .navbar-nav > li > a:hover {
    background: #339133;
}

header .navbar .navbar-nav > li > a.active {
    color: #6bbd00;
    background: #ffffff;
    animation: none;
    font-weight: bold;
}

header .navbar .navbar-nav li.dropdown > a:hover,header .navbar .navbar-nav li.dropdown > a:focus,
header .navbar .navbar-nav li.dropdown > input[type='button']:hover,header .navbar .navbar-nav li.dropdown > input[type='button']:focus,
header .navbar .navbar-nav li.dropdown > input[type='submit']:hover,header .navbar .navbar-nav li.dropdown > input[type='submit']:focus {
    color: #ffffff;
    background: #339133;
}
header .navbar .navbar-nav li.dropdown.open > a, header .navbar:hover .navbar-nav li.dropdown:hover > a,
header .navbar .navbar-nav li.dropdown > a:focus,
header .navbar .navbar-nav li.dropdown.open > input[type='button'], header .navbar:hover .navbar-nav li.dropdown:hover > input[type='button'],
header .navbar .navbar-nav li.dropdown > input[type='button']:focus,
header .navbar .navbar-nav li.dropdown.open > input[type='submit'], header .navbar:hover .navbar-nav li.dropdown:hover > input[type='submit'],
header .navbar .navbar-nav li.dropdown > input[type='submit']:focus
{
    animation: none;
}

header .navbar .navbar-nav li.dropdown > .dropdown-menu {
    background:#339133;
    color: #ffffff;
}
header .navbar .navbar-nav li.dropdown > .dropdown-menu li > a {
    padding: 2px 15px;
    color: #ffffff;
    animation: none;
}
header .navbar .navbar-nav li.dropdown > .dropdown-menu li > input[type='button'],
header .navbar .navbar-nav li.dropdown > .dropdown-menu li > input[type='submit'] {
    width: 100%;
    padding: 2px 15px !important;
    animation: none;
    height: auto !important;
}

header .navbar .navbar-nav li.dropdown > .dropdown-menu li > a:hover, 
header .navbar .navbar-nav li.dropdown > .dropdown-menu li > input[type='button']:hover,
header .navbar .navbar-nav li.dropdown > .dropdown-menu li > input[type='submit']:hover{
    background: #007500 !important;
}

header .logo_container .img-responsive {
    display: inline-block;
    height: 30px;
    width: auto;
    max-width: 80px;
    padding: 1px;
}

header .portal_title {
    font-size: 11px;
    vertical-align: middle;
    margin-left: 5px;
}

/*Navigation Button*/
header .navbar .navbar-nav input[type="button"], header .navbar .navbar-nav input[type="submit"] {
    border: none !important;
    border-radius: 0px;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    color: #009100 !important;
    padding: 10px 12px !important;
    padding-bottom: 15px;
    background: none !important;
    height: 40px !important;
    border-image: none !important;
    outline: none !important;
    font-size: 12px !important;
    font-weight: 400 !important;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    -moz-boder-radius-topleft: 2px;
    -moz-border-radius-topright: 2px;
    margin-bottom: 0px;
}
header .navbar:hover .navbar-nav input[type="button"], header .navbar:hover .navbar-nav input[type="submit"] {
    color: #ffffff !important;
}
header .navbar .navbar-nav input[type="button"]:hover, header .navbar .navbar-nav input[type="submit"]:hover {
    color: #ffffff !important;
    background: #339133 !important;
    font-weight: bold;
}


/*Animation Key frameset for Header*/
@keyframes header-link-fade-in {
    from {
        color:#009100
    }
    to {
        color: #ffffff;
    }
}

@keyframes header-link-fade-out {
    from {
        color: #ffffff;
    }
    to {
        color: #009100;
    }
}



/*Footer Styles*/
footer {
    margin-top: 50px;
    padding: 30px 0px;
}

footer .powered_by {
    color: #b38700;
    font-size: 10px;
    text-transform: uppercase;
    font-weight: bold;
}
footer .green_horizontal_line {
    height: 3px;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    width: 100%;
    background: #026600;
    position: relative;
    margin-top: 20px;
}
footer .green_horizontal_line .verify_signature {
    width: 70px;
    height: auto;
    top: -20px;
    margin: 0px auto;
    position: relative;
    text-align: center;
    background: #ffffff;
}
footer .green_horizontal_line .verify_signature img {
    max-height: 40px;
}