/*Some Basic Styles*/

h1,h2,h3,h4,h5,h6 {
    margin: 0px;
    padding: 0px;
    margin-bottom: 10px;
    font-weight: bold;
}

p {
    margin: 0px;
    padding-bottom: 5px;
}

h1 {
    font-size: 20px;
}

h2 {
    font-size: 18px;
}
h3 {
    font-size: 16px;
}
h4 {
    font-size: 14px;
}
a,a:hover {
    text-decoration: none;
}




/*Style for Header*/
header {
      
  }

header .navbar {
    min-height: 25px;
    border: none;
}

header .navbar .container {
    padding-top: 5px;
    height: auto;
    background: #007500; /* Old browsers */
    background: -moz-linear-gradient(left,  #ffffff 0%, #ffffff 5%, #007500 7%, #007500 77%, #ffffff 80%, #ffffff 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left,  #ffffff 0%, #ffffff 5%,#007500 7%,#007500 77%, #ffffff 80%, #ffffff 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right,  #ffffff 0%, #ffffff 5%,#007500 7%,#007500 77%, #ffffff 80%, #ffffff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 */
}

header .navbar .navbar-brand {
    padding-top: 7px;
    padding-bottom: 2px;
    font-size: 12px;
    max-height: 40px;
}

header .navbar .navbar-brand .bars {
    
}
header .navbar .navbar-brand .bars .icon-bar{
    background: #4f5945;
    display: block;
    width: 25px;
    height: 3px;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    margin-bottom: 4px;
}

header .navbar:hover .navbar-nav a {
    color: #ffffff;
    animation-name: header-link-fade-in;
    animation-duration: 0.5s;
    cursor: pointer;
}

header .navbar .navbar-nav a {
    color: #ffffff;
    animation-name: header-link-fade-out;
    animation-duration: 0.5s;
}

header .navbar .navbar-nav a {
    color: #009100;
}

header .navbar .navbar-nav > li > a {
    padding: 10px 15px;
    padding-top: 5px;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    -moz-boder-radius-topleft: 2px;
    -moz-border-radius-topright: 2px;
}

header .navbar .navbar-nav > li > a:hover {
    background: #339133;
}

header .navbar .navbar-nav > li > a.active {
    color: #6bbd00;
    background: #ffffff;
    animation: none;
    font-weight: bold;
}

header .navbar .navbar-nav li.dropdown > a:hover,header .navbar .navbar-nav li.dropdown > a:focus {
    color: #ffffff;
    background: #339133;
}
header .navbar .navbar-nav li.dropdown.open > a, header .navbar:hover .navbar-nav li.dropdown:hover > a,
header .navbar .navbar-nav li.dropdown > a:focus {
    animation: none;
}

header .navbar .navbar-nav li.dropdown > .dropdown-menu {
    background:#339133;
    color: #ffffff;
}
header .navbar .navbar-nav li.dropdown > .dropdown-menu li > a {
    padding: 2px 15px;
    color: #ffffff;
    animation: none;
}
header .navbar .navbar-nav li.dropdown > .dropdown-menu li > a:hover {
    background: #007500;
}

header .logo_container .img-responsive {
    display: inline-block;
    height: 35px;
    width: auto;
    padding: 5px;
}

header .portal_title {
    font-size: 11px;
    vertical-align: middle;
    margin-left: 10px;
}

/*Animation Key frameset for Header*/
@keyframes header-link-fade-in {
    from {
        color:#009100
    }
    to {
        color: #ffffff;
    }
}

@keyframes header-link-fade-out {
    from {
        color: #ffffff;
    }
    to {
        color: #009100;
    }
}


/*Style form Body-content*/
section.main-body {
    min-height: 500px;
}
.container.body-content {
    margin-top: 55px;
}

.body-content .page-title {
    font-size: 24px;
    color: #828282;
    font-weight: normal;
}

.body-content .user_info_container {
    margin-top: 10px;
}

.body-content .user-info {
    font-size: 11px;
    color: #000000;
}
.body-content .user-info > span {
    margin-right: 10px;
}
.body-content .logout {
    margin-top: -3px;
}
.body-content .logout > a{
    color: #cc0000;
    font-size: 12px;
    line-height: 100%;
}



/*Footer Styles*/
footer {
    margin-top: 50px;
}

footer .powered_by {
    color: #b38700;
    font-size: 10px;
    text-transform: uppercase;
    font-weight: bold;
}
footer .green_horizontal_line {
    height: 3px;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    width: 100%;
    background: #026600;
    position: relative;
    margin-top: 20px;
}
footer .green_horizontal_line .verify_signature {
    width: 70px;
    height: auto;
    top: -20px;
    margin: 0px auto;
    position: relative;
    text-align: center;
    background: #ffffff;
}
footer .green_horizontal_line .verify_signature img {
    max-height: 40px;
}